html,body{
    margin: 0;
}
main{
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 10% 1fr;
    align-items: center;
    justify-content: center;
}
h1{
    grid-area: 1/2/span 1/ span 1;
    text-align: center;
}
#form{
    display: flex;
    justify-content: center;
    grid-area: 2/2/span 1/ span 1;
}